.TodoEditor{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
}

.TodoEditor__textarea{
    line-height: 16px;
    /* height: 16*3+24; */
    padding: 12px 16px;
    border: 1px solid rgb(33, 33, 33, 0.2);
    border-radius: 4px;
    font: inherit;
    resize: none; 
    margin-bottom: 12px;
}

.TodoEditor__button {
    @extend %button;

    width: 100%;
    margin-left: auto;
    border-radius: 4px;
    padding: 12px 24px;
    background-color: indigo;
    color: white;
    font-weight: 500;

}

 .TodoEditor__button:hover,
 .TodoEditor__button:focus {
     background-color: rgb(142, 39, 216);
 }

 .TodoEditor__button:active {
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 }
